.header {
    overflow: hidden;
    background-color: #234075;
    border-bottom: 3px solid #e3a82b;
}

.header p {
    float: left;
    border-radius: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    line-height: 1rem;
}

/* Remove blue underline in mobile */
a {
    text-decoration: none;
}

.header p.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.header p:hover {
    background: #9caed0;
    color: darkslategrey;
}

.header p.active {
    background-color: #e3a82b;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 480px) {
    .header p {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}