label {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

input[type="text"],
input[type="submit"],
input[type="number"]{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    width: 280px;
    max-width: 800px;
    font-size: 16px;
}

input[type="number"]{
    background-color: #e3a82b;
}

input[type="number"]::placeholder{
    color: black;
}

input[type="submit"]{
    margin: 1rem;
    padding: 1rem;
    width: 296px;
    border: none;
    background-color: #e3a82b;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: green;
}